* {
  box-sizing: border-box; /* Ensure all elements respect their width and padding */
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.register-container {
  background-image: url('../assets/background.jpg'); /* Update this path as necessary */
  background-size: cover; /* Make the image cover the entire background */
  background-position: center; /* Center the image */
  max-width: 400px;
  margin: 100px auto;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

.register-container h2 {
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.register-btn {
  width: 100%;
  padding: 10px;
  background-color: chocolate; /* Use chocolate color for the button background */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.register-btn:hover {
  background-color: #d2691e; /* Darker shade of chocolate for hover effect */
}

@media (max-width: 480px) {
  .register-container {
    width: 90%; /* Make the form smaller on mobile */
    padding: 20px;
  }
}


  