.slider {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.slider-content {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide-image {
  width: 100%;
  border-radius: 10px;
  flex-shrink: 0;
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transition: background-color 0.3s ease;
}

.slider-button.prev {
  left: 10px;
}

.slider-button.next {
  right: 10px;
}

.slider-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.slider-button:focus {
  outline: none;
}

.slider-button svg {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 768px) {
  .slider {
    height: 350px;
  }

  .slider-button {
    padding: 15px;
  }

  .slider-button.prev {
    left: 10px;
  }

  .slider-button.next {
    right: 10px;
  }

  .slide-image {
    object-fit: contain; /* Ensures smaller images fit without stretching */
  }
}

  